<nav
  class="navbar navbar-expand border-bottom align-items-center"
  style="background-color: #c7c6ff"
>
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center text-start d-none d-sm-inline" href="{{ '/' | relative_url }}">
      <img
        src="{{ '/assets/svg/rocket-takeoff.svg' | relative_url }}"
        alt="rocket"
        height="30"
        class="me-2"
      />
      <span class="fs-4 fw-bold d-none d-sm-inline">Corey's Website</span>
    </a>

    <div
      class="collapse navbar-collapse justify-content-end align-items-center d-flex"
      id="navbarContent"
    >
      <ul class="navbar-nav text-end align-items-center">
        <li class="nav-item me-2">
          <a
            class="btn {% if page.url == '/' or page.url == '/index.html' %}btn-primary{% endif %}"
            href="{{ '/' | relative_url }}"
            role="button"
          >Home</a>
        </li>

        <li class="nav-item me-2">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle {% if page.url == '/papers.html' or page.url contains '/sub_papers/' or page.url == '/data_science.html' or page.url == '/lab_reports.html' or page.url == '/electrical_engineering.html' %}btn-primary{% endif %}"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              STEM
            </button>
            <ul class="dropdown-menu fade">
              <li>
                <a class="dropdown-item" href="{{ '/papers.html' | relative_url }}">Derivations</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ '/data_science.html' | relative_url }}">Data Science</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ '/lab_reports.html' | relative_url }}">Lab Reports</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ '/electrical_engineering.html' | relative_url }}">Electronics</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="btn {% if page.url == '/contact.html' %}btn-primary{% endif %}"
            href="{{ '/contact.html' | relative_url }}"
            role="button"
          >Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>